# Import Libraries

In [1]:
import os
import pandas as pd
import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

### Directories

In [2]:
DIR_DATA = r'C:\Users\ccirelli\OneDrive - American International Group, Inc\Desktop\GitHub\pyspark_sandbox\data'

In [3]:
FILENAME = 'test.csv'

In [4]:
df_pd = pd.read_csv(os.path.join(DIR_DATA, FILENAME))

In [5]:
df_pd.head(1)

,ULTIMATE_BUSINESS_NAME_DB,ULTIMATE_DUNS_NUMBER_DB,DUNS_NUMBER_DB,INSURED_NAME_UW,BUSINESS_NAME_DB,POLICY_EFFECTIVE_DATE,POLICY_EXPIRATION_DATE,INSURANCE_LINE_OF_BUSINESS,DIVISIONDEPARTMENT,COVERAGE_TRIGGER,BUSINESS_TYPE,AGGREGATE_PRODUCT__AIG
0,1-Stop Connections Pty Limited,750664455,750664455,1-STOP CONNECTIONS PTY LIMITED,1-STOP CONNECTIONS PTY LIMITED,6/13/2017,10/1/2018,Directors And Officers Liabilty,23-Financial Lines,Claims-made,Risk Transfer - Standard,Directors & Officers Liability

### Create Spark Context

In [6]:
spark = SparkSession.builder.master("local[1]")\
          .appName("SparkByExamples.com")\
          .getOrCreate()

In [7]:
df_spark = spark.read.option("header", True)\
    .format("csv")\
    .load(os.path.join(DIR_DATA, FILENAME))

---
# Inspect DataFrame
---

References
- https://sparkbyexamples.com/spark/show-top-n-rows-in-spark-pyspark/#:~:text=In%20Spark%2FPySpark%2C%20you%20can,(5%2C10%2C100%20..)

##### Schema

In [8]:
df_spark.printSchema()

root
 |-- ULTIMATE_BUSINESS_NAME_DB: string (nullable = true)
 |-- ULTIMATE_DUNS_NUMBER_DB: string (nullable = true)
 |-- DUNS_NUMBER_DB: string (nullable = true)
 |-- INSURED_NAME_UW: string (nullable = true)
 |-- BUSINESS_NAME_DB: string (nullable = true)
 |-- POLICY_EFFECTIVE_DATE: string (nullable = true)
 |-- POLICY_EXPIRATION_DATE: string (nullable = true)
 |-- INSURANCE_LINE_OF_BUSINESS: string (nullable = true)
 |-- DIVISIONDEPARTMENT: string (nullable = true)
 |-- COVERAGE_TRIGGER: string (nullable = true)
 |-- BUSINESS_TYPE: string (nullable = true)
 |-- AGGREGATE_PRODUCT__AIG: string (nullable = true)

##### Sample

Sample returns a pyspark dataframe.  The other operations return lists.

In [9]:
df_spark.sample(fraction=0.01)

DataFrame[ULTIMATE_BUSINESS_NAME_DB: string, ULTIMATE_DUNS_NUMBER_DB: string, DUNS_NUMBER_DB: string, INSURED_NAME_UW: string, BUSINESS_NAME_DB: string, POLICY_EFFECTIVE_DATE: string, POLICY_EXPIRATION_DATE: string, INSURANCE_LINE_OF_BUSINESS: string, DIVISIONDEPARTMENT: string, COVERAGE_TRIGGER: string, BUSINESS_TYPE: string, AGGREGATE_PRODUCT__AIG: string]

##### Head

In [10]:
df_head = df_spark.head(1)

for row in df_head:
    print(row, '\n')

Row(ULTIMATE_BUSINESS_NAME_DB='1-Stop Connections Pty Limited', ULTIMATE_DUNS_NUMBER_DB='750664455', DUNS_NUMBER_DB='750664455', INSURED_NAME_UW='1-STOP CONNECTIONS PTY LIMITED', BUSINESS_NAME_DB='1-STOP CONNECTIONS PTY LIMITED', POLICY_EFFECTIVE_DATE='6/13/2017', POLICY_EXPIRATION_DATE='10/1/2018', INSURANCE_LINE_OF_BUSINESS='Directors And Officers Liabilty', DIVISIONDEPARTMENT='23-Financial Lines', COVERAGE_TRIGGER='Claims-made', BUSINESS_TYPE='Risk Transfer - Standard', AGGREGATE_PRODUCT__AIG='Directors & Officers Liability')

##### Take

In [14]:
df_take = df_spark.take(1)

In [23]:
df_sample = df_spark.sample(fraction=0.1)